* {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
}
/* 
cores
background: #EBEBEB
cinza claro: #E4E4E4
cinza inputs #818181
*/

.form-container {
    background: #fff;
    margin: 150px auto;
    width: 400px;
}

.form-container form {
    padding: 20px;
}

form h3 {
    text-align: center;
}

.form-container .input-container input, input[type=submit] {
    width: 100%;
    height: 45px;
    border-radius: 25px;
}

form .input-container {
    position: relative;
    margin-top: 15px;
}

form .input-container input {
    border: 1px solid #e4e4e4;
    color: #818181;
    padding: 0 45px 0 15px;
}

form .input-container input::placeholder {
    color: #818181;
}

.form-container form .input-container svg {
    position: absolute;
    right: 0;
    top: calc(50% - 12px);
    padding-right: 4px;

}

.options-container {
    margin: 0 20px;
    padding: 20px ;
    color: #818181;
}

form input[type=submit] {
    background-color: red;
    color: #fff;
    border: 0;
    font-weight: bold;
}

.options-container .checkbox-container, a {
    display: inline-block;
    width: 50%;
}

.options-container a {
    text-align: right;
    color: red;
    text-decoration: none;
}
